<section class="section-divider textdivider divider1">
    <div class="container">
        <h1>About</h1>
        <hr>
        <p>Find out about David and read some testimonials from his customers.</p>
    </div>
</section>

<!-- ==== ABOUT ==== -->
<div class="container" id="about" name="about">
    <div class="row white">
        <br>
        <h1 class="centered">A LITTLE ABOUT DAVID</h1>
        <hr>
        <div class="col-md-offset-1 col-md-10">
            <img class="img-responsive" src="../../template/img/Headshot-sm.png" alt="Photo of David">
        </div><!-- col -->
        <div class="col-lg-6">
            <p>
                David Down (BSc Hons) is a fully qualified and insured practicing Sports Therapist based in Milton
                Keynes, Hertfordshire and London. He specialises in using the principles of sport and exercise
                to make sure that clients are training and competing in a safe and efficient manner. David firmly
                believes in the effective application of sports therapy and strength and conditioning techniques
                to improve a client’s entire fitness and sports performance goals.
            </p>
        </div><!-- col-lg-6 -->

        <div class="col-lg-6">
            <p>
                David is well respected in his field, currently working at MK Dons Football Club as part of the Sports
                Medicine Department. David has also worked within a private practice setting at PC Physiotherapy
                in Milton Keynes where he has been able to treat a wide range of sportspeople from different
                disciplines. As a result of his diverse clinical experience, David has become proficient in many
                musculoskeletal modalities and offers treatment and rehabilitation to a wide variety of sports
                injuries and aims to restore clients to their pre injury state both quickly and safely.
            </p>
        </div><!-- col-lg-6 -->
    </div><!-- row -->
</div><!-- container -->

<!-- ==== GREYWRAP ==== -->
<div id="greywrap">
    <div class="row">
        <div class="col-md-3">
            <a href="http://www.mkdons.com/">
                <img class="img-responsive" src="../../template/img/logos/dons.gif" alt="Milton Keynes Dons Football Club">
            </a>
        </div><!-- col-lg-4 -->

        <div class="col-md-3">
            <a href="http://www.herts.ac.uk/courses/sports-therapy">
                <img class="img-responsive" src="../../template/img/logos/HDNut.gif" alt="Hayley Down Nutrition">
            </a>
        </div><!-- col-lg-4 -->

        <div class="col-md-3">
            <a href="http://www.hdnutrition.co.uk/">
                <img class="img-responsive" src="../../template/img/logos/herts.gif" alt="University of Hertfordshire">
            </a>
        </div><!-- col-lg-4 -->

        <div class="col-md-3">
            <a href="http://www.society-of-sports-therapists.org/">
                <img class="img-responsive" src="../../template/img/logos/society.gif" alt="The Society of Sports Therapists">
            </a>
        </div><!-- col-lg-4 -->
    </div><!-- row -->
</div><!-- greywrap -->
