<section class="section-divider textdivider divider1">
    <div class="container">
        <h1>About</h1>
        <hr>
        <p>Find out about David Down Sports Therapy.</p>
    </div>
</section>


<!-- ==== ABOUT ==== -->
<div class="container" id="about" name="about">
    <div class="row white">
        <br>
        <h1 class="centered">A LITTLE ABOUT DAVID</h1>
        <hr>
        <div class="col-md-offset-1 col-md-10">
            <img class="img-responsive" src="../../template/img/Headshot-sm.png" alt="Photo of David">
        </div><!-- col -->
        <div class="col-md-6">
            <p>
                David Down (BSc Hons) is a fully qualified and insured practicing Sports Therapist based in Milton
                Keynes, Hertfordshire and London. He specialises in using the principles of sport and exercise
                to make sure that clients are training and competing in a safe and efficient manner. David firmly
                believes in the effective application of sports therapy and strength and conditioning techniques
                to improve a client’s entire fitness and sports performance goals.
            </p>
        </div><!-- col-lg-6 -->

        <div class="col-md-6">
            <p>
                David is well respected in his field, currently working at MK Dons Football Club as part of the Sports
                Medicine Department. David has also worked within a private practice setting at PC Physiotherapy
                in Milton Keynes where he has been able to treat a wide range of sportspeople from different
                disciplines. As a result of his diverse clinical experience, David has become proficient in many
                musculoskeletal modalities and offers treatment and rehabilitation to a wide variety of sports
                injuries and aims to restore clients to their pre injury state both quickly and safely.
            </p>
        </div><!-- col-lg-6 -->
    </div><!-- row -->
</div><!-- container -->
<!-- ==== GREYWRAP ==== -->
<div id="greywrap">
    <div class="row">
        <div class="col-md-3">
            <a href="http://www.mkdons.com/">
                <img class="img-responsive" src="../../template/img/logos/dons.gif" alt="Milton Keynes Dons Football Club">
            </a>
            <br />
        </div><!-- col-lg-4 -->

        <div class="col-md-3">
            <a href="http://www.hdnutrition.co.uk/">
                <img class="img-responsive" src="../../template/img/logos/HDNut.gif" alt="Hayley Down Nutrition">
            </a>
            <br />
        </div><!-- col-lg-4 -->

        <div class="col-md-3">
            <a href="http://www.herts.ac.uk/courses/sports-therapy">
                <img class="img-responsive" src="../../template/img/logos/herts.gif" alt="University of Hertfordshire">
            </a>
            <br />
        </div><!-- col-lg-4 -->

        <div class="col-md-3">
            <a href="http://www.society-of-sports-therapists.org/">
                <img class="img-responsive" src="../../template/img/logos/society.gif" alt="The Society of Sports Therapists">
            </a>
            <br />
        </div><!-- col-lg-4 -->
    </div><!-- row -->
</div><!-- greywrap -->
<!-- ==== TEAM MEMBERS ==== -->
<div class="container" id="team" name="team">
    <div class="row white centered">
        <br />
        <h1 class="centered">TESTIMONIALS</h1>
        <hr>
        <div class="row white centered">
            <div class="col-md-3 centered">
                <br />
                <h4>Jordan Spence</h4>
                <h5>Professional Footballer</h5>
            </div>
            <div class="col-md-8 blog-content">
                <p>
                    <i>"David is an extremely commited practitioner. I have known him for a number of years now and know of his great acumen and hard work. This was most apparent during our time working together at MK Dons where his work helped me to stay in top physical condition."</i>
                </p>
            </div><!-- col-lg-3 -->
        </div>
        <br />

        <div class="row white centered">
            <div class="col-md-3 centered">
                <br />
                <h4>A Salah</h4>
                <h5>Milton Keynes</h5>
            </div>
            <div class="col-md-8 blog-content">
                <p>
                    <i>"Just had a great sports massage from a true professional David Down. David has a good understanding of sports related injuries and is very knowledgable for his age. I have a few ongoing muscular skeletal issues which David has been very understanding towards and has treated effectively. He makes you feel cared for and he has a great rapport with his clients . Well done."</i>
                </p>
            </div><!-- col-lg-3 -->
        </div>
        <br />

        <div class="row white centered">
            <div class="col-md-3 centered">
                <br />
                <h4>David Glossy</h4>
                <h5>Elite Triathlete</h5>
            </div>
            <div class="col-md-8 blog-content">
                <p>
                    <i>"Had an amazing massage today by David Down. If you're in need of a massage, this guy is a good hard core sports massage at its best. He comes out to you so even better. Thanks mate, Feeling Fantastic!"</i>
                </p>
            </div><!-- col-lg-3 -->
        </div>
        <br />

    </div><!-- row -->
    <br />
</div><!-- container -->