<section class="section-divider textdivider divider2">
    <div class="container">
        <h1>Prices & Services</h1>
        <hr>
        <p>See what David Down Sports Therapy can offer you.</p>
    </div>
</section>

<!-- Prices Section -->
<div class="container centered section-divider">
    <div class="row white">
        <h1>PRICES</h1>
        <hr>
        <h3>Check out the prices for the Milton Keyens area:</h3>
        <br />
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h4 class="text-muted">Sports Therapy</h4>
            <h2 class="text-muted">£35</h2>
            <p>Injury assessment & treatment with any additional services including electrotherapy or rehabilitation programmes.</p>
        </div>
        <div class="col-sm-4">
            <h4 class="text-muted">Sports Massage</h4>
            <h2 class="text-muted">£25</h2>
            <p>Sports massage, working on either the upper or lower body, focusing on specific areas of tightness.</p>
        </div>
        <div class="col-sm-4">
            <h4 class="text-muted">Sports Massage</h4>
            <h2 class="text-muted">£45</h2>
            <p>Full body sports massage focusing on specific areas of tightness.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <p>
                Prices may vary for areas outside of Milton Keynes <br />
                Discounts for block bookings are available
            </p>
        </div>
    </div>
</div>


<!-- Services Section -->
<div class="container centered section-divider">
    <div class="row white">
        <h1>SERVICES</h1>
        <hr>
    </div>


    <div class="row">
        <div class="row white col-md-4">
            <img src="../../template/img/services/svMassage.jpg" class="img-responsive" alt="Massage">
            <div>
                <h4>Sports Massage</h4>
                <p class="text-muted">Sports massage has numerous physiological and psychological benefits. It's uses include mantainence of your bodies condition, reduces the risk of injury and helps to restore and improve mobility.<br>Sports massage has also been helpful in improving performance, and enabling you to reach your full potential. It has been found to reduce pain, as well as release endorphins.</p>
            </div>
        </div>

        <div class="row white col-md-4">
            <img src="../../template/img/services/svRehab.jpg" class="img-responsive" alt="Rehabilitation">
            <div>
                <h4>Exercise Rehabilitation</h4>
                <p class="text-muted">Exercise rehabilitation is an essential part of injury recovery. With the absence of an appropriate 'rehab' program, normal bodily function may never be restored.<br>Exercise rehabilitation aims to restore range of motion, restore strength, reduce pain, correct biomechanics, restore proprioception, and reduce swelling. All vital components required for injury recovery.</p>
            </div>
        </div>

        <div class="row white col-md-4">
            <img src="../../template/img/services/svInjury.jpg" class="img-responsive" alt="Injury Prevention">
            <div>
                <h4>Injury Prevention</h4>
                <p class="text-muted">Following injury, or the initial assessment, it may be important to correct human biomechanics which could potentially predispose an injury.<br>In order to reduce the risk of injury, or even maximise athletic performance, it may be neccesery to prescribe you with appropriate programme including exercises, stretching or treatment interventions.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row white col-md-4">
            <img src="../../template/img/services/svManual.jpg" class="img-responsive" alt="Manual Therapy">
            <div>
                <h4>Manual Therapy</h4>
                <p class="text-muted">Manual therapy is a term used to cover a wide range of techniques to treat muscularskeletal pain and disfunction.<br>I will often use Maitland’s joint mobilisation techniques as part of rehabilitation with the aim to restore full range of motion within a joint.<br>This method is quite safe and extremely effective, especially when used along side soft tissue massage, and corrective exercises.</p>
            </div>
        </div>

        <div class="row white col-md-4">
            <img src="../../template/img/services/svUltra.jpg" class="img-responsive" alt="Ultrasound">
            <div>
                <h4>Ultrasound</h4>
                <p class="text-muted">Ultrasound is a form of electrotherapy used to assist with the body’s natural healing process.<br>Ultrasound therapy works by increasing the activity of a cell through a combined process of ‘Acoustic Streaming’ & ‘Cavitation’ thus increasing the cells metabolism, allowing for a faster healing time following an injury (Watson, 2008).<br>For more information visit: <a href="http://www.electrotherapy.org/modality/ultrasound-therapy"><cite>electrotherapy.org/ultrasound-therapy</cite></a></p>
            </div>
        </div>

        <div class="row white col-md-4">
            <img src="../../template/img/services/svStrength.jpg" class="img-responsive" alt="Strength & Conditioning">
            <div>
                <h4>Strength & Conditioning</h4>
                <p class="text-muted">Strength and Conditioning is the physical and physiological development of athletes for elite sport performance. Strength and Condition isn't just about lifting weights, the aim goal is to specifically maximise athletic performance, by working on speed, agility, plyometrics, endurance and core stability with strength training being just a small part of it. A well designed strength and conditioning programme can increase an athletes tolerance to training and decrease the risk of injury."<br><cite>English Institute of Sport, 2016</cite></p>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="row white col-md-4">
            <img src="../../template/img/services/svEMS.jpg" class="img-responsive" alt="EMS">
            <div>
                <h4>Electric Muscle Stimulation</h4>
                <p class="text-muted">Electric Muscle Stimulation (EMS) uses electrical impulses to stimulate a muscle contraction. Its can be a useful training tool healthy individuals, assisting with rehabilitation for injured patients, or aiding recovery for elite athletes. EMS uses a device that generates impulses via electrodes which are placed on the skin in direct proximity to the muscles being stimulated. It is a safe an effective method of assisting with the treatment of various sports injuries.</p>
            </div>
        </div>

        <div class="row white col-md-4">
            <img src="../../template/img/services/svAss.jpg" class="img-responsive" alt="Injury Assessment">
            <div>
                <h4>Injury Assessment</h4>
                <p class="text-muted">It is essential that a thorough injury assessment is taken out before dealing with any injuries. Without a proper assessment, an injury can be misdiagnosed and therefor mistreated, resulting in a delayed recovery or even making the injury worse. With experience in both private practice and professional sport, i can recognise when an injury can be treated or if a referral is necessary.</p>
            </div>
        </div>

        <div class="row white col-md-4">
            <img src="../../template/img/services/svAss.jpg" class="img-responsive" alt="Acupuncture">
            <div>
                <h4>Acupuncture</h4>
                <p class="text-muted">The positive health benefits of acupuncture have been known for centuries. At David Down Sports Therapy, we use a specific technique called ‘Dry Needling’. This method is beneficial for the management of pain and function in certain muscular skeletal conditions. The treatment itself causes very little discomfort, however results can be astonishing. Dry needling can be used as a stand-alone treatment, or in conjunction with other treatments.</p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="row white col-md-4">
            <img src="../../template/img/services/svOther.jpg" class="img-responsive" alt="Other Services">
            <div>
                <h4>Other services</h4>
                <p>
                    <ul>
                        <li class="text-muted">Biomechanics Assessment</li>
                        <li class="text-muted">Electrotherapy</li>
                        <li class="text-muted">Judo Coaching</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
